<%= form_with model: comment_reply, url: post_post_comment_comment_replies_path(post, post_comment), method: :post do |f| %>
  <div class='col-mb-10'>
    <%= f.text_area :reply_comment, :size => '50x2', placeholder: "救世神へ感謝の言葉を送りましょう！", class: 'form-control mb-2', required: true %>
  </div>


  <!--post_commentのevaluationカラムへ評価データを送信（最終的にユーザーのランキングを付ける際に使用する評価値）-->
  <div id='raty_comment_<%= post_comment.id %>', class='row justify-content-end mr-1 mb-2'></div>
  <script>
    raty(document.getElementById('raty_comment_<%= post_comment.id %>'), {
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn: '<%= asset_path('star-on.png') %>',
        scoreName: 'evaluation',
        half: false
    });
  </script>

  <div class='row justify-content-end mr-1'>
    <%= f.submit "送信", class: 'btn btn-info' %>
  </div>

<% end %>