<% comment_replies.each do |comment_reply| %>
  <div class='reply_comment'>
    <div>
      <!--未然に思わぬエラーを防ぐために「user.id」と詳細に記述-->
      <%= link_to user_show_path(comment_reply.user.id) do %>
        <%= image_tag comment_reply.user.get_profile_image(50,50), class: 'profile_image mb-2' %>
      <% end %>
      <%= comment_reply.user.nickname %>
    </div>

    <div class='content-area mb-2'>
      <%= safe_join(comment_reply.reply_comment.split("\n"),tag(:br)) %>
    </div>

    <div>
      <!--lメソッドの方がstrftimeメソッドよりDRYコードに適しているため-->
      <%= l comment_reply.created_at %>
    　<% if comment_reply.user == current_user %>
        <%= link_to post_post_comment_comment_reply_path(comment_reply.post_comment.post, comment_reply.post_comment, comment_reply), method: :delete, remote: true, class: 'btn btn-danger btn-sm', data: { confirm: "本当に削除してよろしいですか？" } do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>