<% comment_reply.each do |comment_reply| %>
  <%= link_to user_show_path(comment_reply.user.id) do %>
    <p><%= image_tag comment_reply.user.get_profile_image(100,100) %></p>
  <% end %>
  <%= comment_reply.user.nickname %>
  <%= comment_reply.reply_comment %>
  <%= comment_reply.created_at.strftime('%Y/%m/%d') %>

  <% if comment_reply.user == current_user %>
    <%#= link_to "編集する", edit_post_post_comment_path(post_comment.post, post_comment), class: 'btn btn-primary' %>
    <%= link_to "削除する", post_post_comment_comment_reply_path(comment_reply.post_comment.post, comment_reply.post_comment, comment_reply), method: :delete, remote: true, class: 'btn btn-danger' %>
  <% end %>

<% end %>