<% posts.each do |post| %>
  <div class='col-md-3 ml-3 text-center post-link'>
    <%= link_to post_path(post), class: 'text-dark' do %>
      <div>
        <div>
          <p>
            <div>
              <%= image_tag post.user.get_profile_image(100,100), class: 'profile_image' %>
            </div>
          </p>
          <p><strong><%= post.user.nickname %></strong>と申します。</p>
          <p>悩みのカテゴリーは<strong>「<%= post.category.name %>」</strong>です</p>
          <p>この投稿は<strong><%= post.resolution_status %></strong>です。</p>
          <p><strong><%= post.mental %></strong>(救世コメント数：<%= post.post_comments.count %>)</p>
          <p><%= render 'public/posts/tag_list', tag_list: post.tag_list %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>