<div class='container mt-5'>

  <!--ページタイトル-->
  <div class='mx-auto mb-3 text-center'>
    <h4><strong>お悩み編集</strong></h4>
  </div>

  <!--投稿フォーム-->
  <%= form_with model: @post, url: post_path(@post.id), method: :patch do |f| %>
    <div class='form_group mb-3 text-center'>
      <div>
        <%= f.radio_button :is_resolution, :true,class: 'form-check-input' %>
        <%= f.label :is_resolution, "解決済み",class: 'form-check-label' %>
        <%= f.radio_button :is_resolution, :false,class: 'form-check-input' %>
        <%= f.label :is_resolution, "未解決",class: 'form-check-label' %>
      </div>
      <label class='form-label'>「お悩みのカテゴリを選んでね」</label>
      <div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, include_blank: "選択して下さい") %>
      </div>
    </div>

    <div class='form_group mb-3 text-center'>
      <label class='form-label'>「欲しい回答の強度を選んでね」</label>
      <div>
        <%= f.select :mental_status, Post.mental_statuses_i18n.invert, {}, class: 'form-select' %>
      </div>
    </div>

    <div class='form_group mb-3 text-center'>
      <label class='form-label'>「タグも編集できるよ！」</label>
      <div>
        <%= f.text_field :tag_list, value: @post.tag_list.join(','), class: 'form-control' %>
      </div>
    </div>

    <div class='form_group mb-3'>
      <p>「お悩み内容」</p>
      <div>
        <%= f.text_area :content, :size=>"10x20", class: 'form-control' %>
      </div>
    </div>

    <div class='form_group mb-3 text-center'>
      <%= f.submit "編集完了", class: 'btn btn-success' %>
    </div>
  <% end %>

</div>

