<div class='container mt-5'>

  <!--ページタイトル-->
  <div class='row justify-content-center mb-5'>
    <h4><strong>みんなの悩み</strong></h4>
  </div>

  <div class='row justify-content-center mb-5'>
    <div class='col-md-6 text-center introduction-title btn'>
      <i class="fa-solid fa-circle-info fa-2xl" style="color: #ffffff;"></i>
      <div class='introduction-text mt-3 px-3'>
        〜手順〜</br>
        </br>
        ① 他の人のお悩みをクリック</br>
        ② 救世コメントを書き込む</br>
        ③ 投稿主からの評価を待つ</br>
        <br>
        ※ 救世コメントをするたびにレベルアップ🦸🦸‍♀️
      </div>
    </div>
  </div>

  <div class='row justify-content-center mt-5 mb-3'>
    <div class='col-md-5'>
      <%= render 'public/searches/serach_post', q: @q, url: posts_path %>
    </div>
    <div class='col-md-2 ml-3 btn btn-info btn-other other-search-title'>他の検索を試す</div>
  </div>

  <div class='row justify-content-center mb-3'>
    全<%= @posts.total_count %>件
  </div>

  <div class='row justify-content-center mb-3'>
    <div class='col-md-4 text-center other-search-body'>
      <%= search_form_for @q do |f| %>
        <div class='mb-2'>
          <!--「is_resolution」のfalse/trueそれぞれの件数計測-->
          <%= f.radio_button :is_resolution_eq, false %> 未解決(<%= @false.count %>件)
          <%= f.radio_button :is_resolution_eq, true %> 解決済み(<%= @true.count %>件)
        </div>
        <div>
          <%= f.button type: 'submit', class: 'btn btn-primary' do %>
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class='col-md-5 text-center other-search-body'>
      <%= search_form_for @q do |f| %>
        <div class='mb-2'>
          <%= f.radio_button :mental_status_eq, 0 %> 豆腐メンタル
          <%= f.radio_button :mental_status_eq, 1 %> こんにゃくメンタル
          <%= f.radio_button :mental_status_eq, 2 %> 鋼メンタル
        </div>
        <div>
          <%= f.button type: 'submit', class: 'btn btn-primary' do %>
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class='row justify-content-center mb-5'>
    <%= render 'link_categories', categories: @categories %>
  </div>

  <div class='row justify-content-center mb-5'>
  <!--投稿一覧-->
    <%= render 'posts', posts: @posts %>
  </div>

  <div class='row justify-content-center mb-5'>
    <%= paginate @posts %>
  </div>

</div>


<script>
  $(function(){
    $('.introduction-title').on('click', function(){
      $('.introduction-text').slideToggle();
    });
  })

  $(function(){
    $('.other-search-title').on('click', function(){
      $('.other-search-body').slideToggle();
    });
  })
</script>
