<div class='container mt-5'>

  <!--ページタイトル-->
  <div class='row justify-content-center text-center mb-5'>
    <div class='col introduction-title'>
      <i class="fa-solid fa-circle-question fa-2xl"></i>
      <div class='introduction-text mt-3 px-3'>
        ① 他の人のお悩みをクリック</br>
        ② 救世コメントを書き込む</br>
        ③ 投稿主からの評価を待つ。</br>
        <br>
        ※ コメントをするたびにレベルが上がります。
      </div>
    </div>
    <h4 class='col'><strong>みんなの悩み</strong></h4>
    <div class='col category-area'>カテゴリー検索はこちら
      <div class='category-search'>
        <%= render 'link_categories', categories: @categories %>
      </div>
    </div>
  </div>

  <div class='row justify-content-center mb-5'>
    <div class='col-md-4'>
      <div>
        <%= render 'public/searches/serach_post', q: @q, url: posts_path %>
      </div>
    </div>
  </div>

  <div class='row justify-content-center mb-5'>
    全<%= @posts.total_count %>件
  </div>

  <div class='row justify-content-center mb-5'>
    <div class='col-md-4 text-center'>
      <%= search_form_for @q do |f| %>
        <%= f.label :is_resolution, "解決ステータス" %>
        <div class='mb-2'>
          <!--「is_resolution」のfalse/trueそれぞれの件数計測-->
          <%= f.radio_button :is_resolution_eq, false %> 未解決(<%= @false.count %>件)
          <%= f.radio_button :is_resolution_eq, true %> 解決済み(<%= @true.count %>件)
        </div>
        <div>
          <%= f.button type: 'submit', class: 'btn btn-primary' do %>
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class='col-md-5 text-center'>
      <%= search_form_for @q do |f| %>
        <%= f.label :mental_status, "メンタルステータス" %>
        <div class='mb-2'>
          <%= f.radio_button :mental_status_eq, 0 %> 豆腐メンタル
          <%= f.radio_button :mental_status_eq, 1 %> こんにゃくメンタル
          <%= f.radio_button :mental_status_eq, 2 %> 鋼メンタル
        </div>
        <div>
          <%= f.button type: 'submit', class: 'btn btn-primary' do %>
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class='row justify-content-center mb-5'>
  <!--投稿一覧-->
    <%= render 'posts', posts: @posts %>
  </div>

  <div class='row justify-content-center mb-5'>
    <%= paginate @posts %>
  </div>

</div>


<script>
  $(function(){
    $('.introduction-title').on('click', function(){
      $('.introduction-text').slideToggle();
    });
  })

  $(function(){
    $('.category-area').on('click', function(){
      $('.category-search').slideToggle();
    });
  })
</script>
