<div class='container mt-5'>

  <!--ページタイトル-->
  <div class='row justify-content-center mb-5'>
    <h4><strong>お悩み投稿作成</strong></h4>
  </div>

  <!--投稿フォーム-->
  <div class='row justify-content-center mb-5'>
    <div class='col-md-10'>

      <%= form_with model: @post do |f| %>
        <div class='form_group mb-3 text-center'>
          <label class='form-label'>「お悩みのカテゴリを選んでね」</label>
          <div>
            <%= f.hidden_field :is_resolution, value: false %>
            <%= f.collection_select(:category_id, Category.all, :id, :name, include_blank: "カテゴリ選択") %>
          </div>
        </div>

        <div class='form_group mb-5 text-center'>
          <label class='form-label'>「今のあなたのメンタル状態は？」</label>
          <div>
            <%= f.select :mental_status, Post.mental_statuses_i18n.invert, {}, class: 'form-select' %>
          </div>
        </div>

        <div class='form_group mb-5 text-center'>
          <label class='form-label'>「タグを追加できます！(複数OK)」</label>
          <div>
            <%= f.text_field :tag_list, value: @post.tag_list.join(','), class: 'form-control', placeholder: "入力例：）残業,プライベート,やりがい" %>
          </div>
        </div>

        <div class='form_group mb-5'>
          <p>「お悩み内容」</p>
          <div>
            <%= f.text_area :content, :size=>"10x20", placeholder: "どんな些細なことでも気軽に投稿しましょう。️️", required: true, class: 'form-control' %>
          </div>
        </div>

        <div class='form_group text-center'>
          <%= f.submit "救世神へ届け", class: 'btn btn-success' %>
        </div>
      <% end %>

    </div>
  </div>

</div>
