<div class="container mt-5">

  <!--ページタイトル-->
  <div class="mx-auto mb-3 text-center">
    <!--解決ステータスにより表示を条件分岐-->
    <h4><strong><%= @post.is_resolution == false ? "救世神求む！" : "解決しました！" %></strong></h4>
  </div>

  <!--投稿詳細表示フォーム-->
  <div class="mb-3 text-center">
    </p>お悩みカテゴリ：<%= @post.category.name %></p>
  </div>

  <div class="mb-3 text-center">
    <p>回答強度：<%= @post.mental %></p>
  </div>

  <div class="mb-3 text-center">
    <p><%= render 'public/posts/tag_list', tag_list: @post.tag_list %></p>
  </div>

  <div class='row'>
    <div class="col-md-6 mx-auto">
      <p>「お悩み内容」</p>
      <div>
        <%= @post.content %>
      </div>
    </div>
  </div>

  <!--ブックマーク機能-->
  <div class='row'>
    <div class='col-md-6 mx-auto'>
      <% if @post.post_likes_by?(current_user) %>
        <p>
          <%= link_to post_post_likes_path(@post), method: :delete do %>
            <i class="fa-solid fa-thumbs-up"></i><%= @post.post_likes.count %>いいね
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to post_post_likes_path(@post), method: :post do %>
            <i class="fa-regular fa-thumbs-up"></i><%= @post.post_likes.count %>いいね
          <% end %>
        </p>
      <% end %>
    </div>
  </div>

  <!--ログインユーザーの場合で条件分岐-->
  <% if @post.user == current_user %>
    <div class='row'>
      <div class='col-md-6 mx-auto mt-5 text-center'>
        <%= link_to "編集", edit_post_path(@post.id), class: 'btn btn-info btn-sm mr-2' %>
        <%= link_to "削除", post_path(@post.id), method: :delete, class: 'btn btn-danger btn-sm' %>
      </div>
    </div>
  <% end %>

  <!--コメント投稿フォーム-->
  <div class='row'>
    <div class='col-md-6 mx-auto mt-5 text-center'>
      <p>コメント件数<%= @post.post_comments.count %></p>
      <%= form_with model: [@post, @post_comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "こちらから救世コメントを投稿しよう！" %>
        <%= f.submit "救世する", class: 'btn btn-info' %>
      <% end %>
    </div>
    <div class='col-md-6 mx-auto mt-5 text-center'>
      <% @post.post_comments.each do |post_comment| %>
        <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
        <%= post_comment.user.nickname %>
        <%= post_comment.comment %>
        <%= post_comment.created_at.strftime('%Y/%m/%d') %>
        <% if post_comment.user == current_user %>
          <%= link_to "編集する", edit_post_post_comment_path(post_comment.post, post_comment), class: 'btn btn-primary' %>
          <%= link_to "削除する", post_post_comment_path(post_comment.post, post_comment), method: :delete,  class: 'btn btn-danger' %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
