<div class="container mt-5">

  <!--ページタイトル-->
  <div class="row justify-content-center text-center mb-3">
    <!--解決ステータスにより表示を条件分岐-->
    <h4><strong><%= @post.is_resolution == false ? "救世神求む！" : "解決しました！" %></strong></h4>
  </div>

  <div class='row justify-content-center mb-5'>
    <div>
    <%= link_to user_show_path(@post.user) do %>
      <%= image_tag @post.user.get_profile_image(50,50), class: 'profile_image mr-2' %>
    <% end %>
    <%= @post.user.nickname %>
    </div>
  </div>

  <div class='row justify-content-center mb-3'>
    PV数：<%= @post.view_counts.count %>
  </div>

  <!--以下非同期処理実装済み（public/post_commentsディレクトリ内に各種ファイル格納）-->
  <div class='row justify-content-center text-center', id='comment_area'>
    <p class='comment_counts'>救世コメント：全<%= @post.post_comments.count %>件</p>
  </div>

  <!--投稿詳細表示フォーム-->
  <div class="row justify-content-center mb-3">
    <div class='col-mb-2 text-right'>お悩みカテゴリ：</div>
    <div class='col-mb-4'><%= @post.category.name %></div>
  </div>

  <div class="row justify-content-center mb-5">
    <div class='col-mb-4'><%= @post.mental %></div>
  </div>

  <div class="mb-5 text-center">
    <i class="fa-solid fa-tags"></i><%= render 'public/posts/tag_list', tag_list: @post.tag_list %>
  </div>

  <div class='row justify-content-center mb-3'>
    <div class="col-md-10 mx-auto">
      <p>「お悩み内容」</p>
      <div class='content-area'>
        <%= safe_join(@post.content.split("\n"),tag(:br)) %>
      </div>
    </div>
  </div>

  <div class='row justify-content-center text-center mb-5'>
    <!--以下非同期処理実装済み（public/post_likesディレクトリ内に各種ファイル格納）-->
    <div class='col-md-6 mx-auto post_like_btn'>
      <%= render 'public/post_likes/btn', post: @post %>
    </div>
  </div>

  <!--ログインユーザーの場合で条件分岐-->
  <% if @post.user == current_user %>
    <div class='row'>
      <div class='col-md-6 mx-auto text-center'>
        <%= link_to edit_post_path(@post.id), class: 'btn btn-info btn-sm mr-2' do %>
          <i class="fa-solid fa-pen-nib fa-lg"></i>
        <% end %>
        <%= link_to post_path(@post.id), method: :delete, class: 'btn btn-danger btn-sm' do %>
          <i class="fa-solid fa-trash-can fa-lg"></i>
        <% end %>
      </div>
    </div>
  <% end %>

    <!--コメント投稿フォーム-->
    <div class='row justify-content-center'>
      <!--投稿者本人がコメントできないように条件分岐でコメント入力フォーム非表示-->
      <%= render 'public/post_comments/form', post: @post, post_comment: @post_comment if @post.user != current_user && @post.is_resolution == false %>
    </div>

    <div class='mt-5', id='comment_index'>
      <%= render 'public/post_comments/index', post: @post %>
    </div>

</div>
