<div class='container mt-5 mb-5'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'public/users/rank', users: @users %>
    </div>
    <div class="col-md-8 ml-5">
      <div class="row">
        <div class="col-md-6">皆が助けを求めているぞ！（新着お悩み）</div>
        <div class="col-md-6">検索窓</div>
      </div>
      <div class='row mt-5'>
        新着お悩み一覧
        <% @new_posts.each do |new_post| %>
          <p>
            <%= image_tag new_post.user.get_profile_image(20,20) %>
            <% new_post.user.id == current_user.id ? "あなた" : new_post.user.nickname %>
            <%= new_post.category_id.to_s %>
            <%= new_post.mental_status %>
            <%= new_post.is_resolution == false ? '救世する' : '解決済み' %>
          </p>
        <% end %>
      </div>
      <div class='row justify-content-center align-items-center mt-5'>
        どっちを選択する？
      </div>
      <div class='row'>
        <div class='col-md-6 text-center'><%= link_to "悩みを聞いてもらう", new_post_path, class: 'btn btn-danger' %></div>
        <div class='col-md-6 text-center'><%= link_to "救世する", posts_path, class: 'btn btn-info' %></div>
      </div>
    </div>
  </div>
</div>

