<% post.post_comments.each do |post_comment| %>
  <div id='comment', class='mb-3'>

    <div class='row justify-content-first'>
      <div>
        <%= link_to user_show_path(post_comment.user.id) do %>
          <%= image_tag post_comment.user.get_profile_image(50,50), class: 'profile_image' %>
        <% end %>
        <%= post_comment.user.nickname %>
      </div>
    </div>

    <div class='row justify-content-first mb-3'>
      <!--スコア表示-->
      <% if post_comment.evaluation.nil? %>
        まだ評価はありません。
      <% else %>
        <div id='comment_star_<%= post_comment.id %>'></div>
        <!--raty.js-->
        <script>
          raty(document.getElementById('comment_star_<%= post_comment.id %>'), {
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              score: '<%= post_comment.evaluation %>',
              readOnly: true,
          });
        </script>
      <% end %>
    </div>

    <div class='row justify-content-first mb-4'>
      <div class='col-md-10 content-area'>
        <%= safe_join(post_comment.comment.split("\n"),tag(:br)) %>
        <div class='selects'>
          <% if post_comment.user == current_user %>
            <%= link_to edit_post_post_comment_path(post_comment.post, post_comment), class: 'btn' do %>
              <i class="fa-solid fa-pen-nib"></i>
            <% end %>
            <%= link_to post_post_comment_path(post_comment.post, post_comment), method: :delete, remote: true, class: 'link' do %>
              <i class="fa-solid fa-trash-can" style="color: #fb0909;"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class='col-md-2'>
        <!--lメソッドの方がstrftimeメソッドよりDRYコードに適しているため-->
        <%= l post_comment.created_at %>
        <!--コメントに対するいいね機能-->
        <div id='comment_like_btn_<%= post_comment.id %>', class='mt-3'>
          <%= render 'public/comment_likes/btn', post: post_comment.post , post_comment: post_comment %>
        </div>
      </div>
    </div>

    <!--コメントに対する返信及び評価（raty.js）機能-->
    <div class='row justify-content-end'>
      <!--お悩み投稿者のみが「コメント返信とユーザーの評価」を「1度」だけできるよう条件分岐-->
      <!--左にfalseになる条件式を書いた方が結果的に右の処理をせずに済むため以下のように条件式を記述-->
      <% if post_comment.post.user == current_user && post_comment.comment_replies.blank? %>
        <%= render 'public/comment_replies/form', post: post_comment.post,  post_comment: post_comment, comment_reply: post_comment.comment_replies %>
      <% end %>
    </div>
    <div class='row justify-content-end'>
      <!--後々評価者を投稿者のみでなく皆ができる仕様にする可能性を考慮し、複数形で記述-->
      <%= render 'public/comment_replies/index', comment_replies: post_comment.comment_replies %>
    </div>

  </div>
<% end %>

