<div class='container mt-5'>

  <!--ページタイトル-->
  <div class='row justify-content-center mb-5'>
    <h4><strong>コメント一覧</strong></h4>
  </div>

  <div class='row justify-content-center mb-5'>
    <p>コメント総数：<%= @post_comments.total_count %>件</p>
  </div>

  <!--一覧表示-->
  <div class='row justify-content-center mb-5'>
    <table class='table table-bordered border-dark table-hover align-middle'>
      <thead class='thead-light'>
        <tr align='center'>
          <th scope='col' style='width: 20%;'>ユーザー</th>
          <th scope='col' style='width: 70%;'>コメント内容</th>
          <th scope='col' style='width: 10%;'></th>
        </tr>
      </thead>
      <tbody>
        <% @post_comments.each do |post_comment| %>
        <tr>
          <td align='center'>
            <div>
              <%= link_to admin_user_path(post_comment.user.id) do %>
                <%= image_tag post_comment.user.get_profile_image(50,50), class: 'profile_image' %>
              <% end %>
              <%= post_comment.user.nickname %>
            </div>
          </td>
          <td><%= post_comment.comment %></td>
          <td align='center'>
            <%= link_to admin_post_comment_path(post_comment), method: :delete do %>
              <i class="fa-solid fa-trash-can fa-lg" style="color: #f90101;"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class='row justify-content-center mb-5'>
    <%= paginate @post_comments %>
  </div>

</div>
