<div class="container mt-5">

  <!--ページタイトル-->
  <div class="mx-auto mb-5 text-center">
    <h4><strong>コメント一覧</strong></h4>
  </div>

  <div class="mx-auto mb-5 text-center">
    <p>コメント総数：<%= @post_comments.count %>件</p>
  </div>

  <!--一覧表示-->
  <table class='table table-bordered border-dark table-hover align-middle'>
    <thead>
      <tr align='center'>
        <th>プロフィール画像</th>
        <th>ニックネーム</th>
        <th>コメント内容</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @post_comments.each do |post_comment| %>
      <tr>
        <td align='center'>
          <%= link_to admin_user_path(post_comment.user.id) do %>
            <%= image_tag post_comment.user.get_profile_image(50,50), class: 'profile_image' %>
          <% end %>
        </td>
        <td align='center'><%= post_comment.user.nickname %></td>
        <td><%= post_comment.comment %></td>
        <td>
          <%= link_to admin_post_comment_path(post_comment), method: :delete do %>
            <i class="fa-solid fa-trash-can fa-lg" style="color: #f90101;"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
