<div class='container mt-5'>

  <!--ページタイトル-->
  <div class='row justify-content-center mb-5'>
    <h4><strong>会員一覧</strong></h4>
  </div>

  <div class='row justify-content-center mb-5'>
    <p>会員総数：<%= @users.total_count %>名</p>
  </div>

  <!--一覧表示-->
  <div class='row justify-content-center mb-5'>
    <table class='table table-bordered border-dark table-hover align-middle mb-5'>
      <thead class='thead-light'>
        <tr align='center'>
          <th>会員ID</th>
          <th>プロフィール画像</th>
          <th>ニックネーム</th>
          <th>メールアドレス</th>
          <th>会員ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr align='center'>
          <td><%= user.id %></td>
          <td>
            <%= link_to admin_user_path(user.id) do %>
              <%= image_tag user.get_profile_image(50,50), class: 'profile_image' %>
            <% end %>
          </td>
          <td><%= user.nickname %></td>
          <td><%= user.email %></td>
          <td><%= user.deleted_status %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class='row justify-content-center mb-5'>
    <%= paginate @users %>
  </div>

</div>
