<div class='container mt-5'>

  <!--ãƒšãƒ¼ã‚¸ã‚¿ã‚¤ãƒˆãƒ«-->
  <div class="mx-auto mb-5 text-center">
    <h2 class='page-title'><strong>Login</strong></h2>
  </div>

  <!--ãƒ­ã‚°ã‚¤ãƒ³æƒ…å ±å…¥åŠ›ãƒ•ã‚©ãƒ¼ãƒ ï¼ˆåå‰ãƒ»ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰ã®ã¿ï¼‰-->
  <div class='row mx-auto'>
    <div class='col-md-4 mx-auto text-center'>
      <%= form_with model: @user, url: user_session_path do |f| %>

        <div class='row form-field mb-3 was-validated'>
          <div class='col'><%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: 'form-control', placeholder: "nickname", required: true %></div>
        </div>

        <div class='row form-field mb-3 was-validated'>
          <div class='col'><%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: "password", required: true %></div>
        </div>

        <div class="actions text-center">
          <%= f.submit "ãƒ­ã‚°ã‚¤ãƒ³", class: 'form-control btn btn-info' %>
        </div>
      <% end %>

      <div class="text-center mt-5">
         <h5><%= link_to "Signup", new_registration_path(resource_name), class: 'link' %> ðŸ‘‹</h5>
      </div>

    </div>
  </div>
</div>
