<div class='container mt-5'>

  <!--ページタイトル-->
  <div class="mx-auto mb-3 text-center">
    <h4><strong>ログイン</strong></h4>
  </div>

  <!--ログイン情報入力フォーム（名前・パスワードのみ）-->
  <div class='row mx-auto'>
    <div class='col-md-8 mx-auto'>
      <%= form_with model: @user, url: user_session_path do |f| %>

        <div class="form-field">
          <label>ニックネーム</label><br>
          <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", required: true %>
        </div>

        <div class="form-field">
          <label>パスワード</label><br>
          <%= f.password_field :password, autocomplete: "new-password", required: true %>
        </div>

        <div class="actions text-center mt-5">
          <%= f.submit "ログイン", class: 'btn btn-info' %>
        </div>
      <% end %>

      <div class="text-center mt-5">
        <h4>会員登録がお済みでない方</h4>
         <h6><%= link_to "こちら", new_registration_path(resource_name) , class: "login-link" %>から新規登録を行なってください。</h6>
      </div>

    </div>
  </div>
</div>
