<div class="container mt-5">

  <!--ページタイトル-->
  <div class="row justify-content-center mb-5">
    <h4><strong>高評価した神がかりコメント一覧</strong></h4>
  </div>

  <!--一覧表示-->
  <% if @comment_likes_comments.empty? %>
    <div class='row justify-content-center mb-5'>
      <h5>あなたが高評価したコメントはまだありません。</h5>
    </div>
    <div class='row justify-content-center'>
      <%= link_to "みんなのお悩みから救世コメントを見に行く", posts_path, class: 'btn btn-info' %>
    </div>
  <% else %>
    <div class="mb-3">
        <% @comment_likes_comments.each do |comment_like| %>
          <div class='row justify-content-center p-3 mt-3'>
            <div class='col-md-4 text-center bg-dark p-3'>
              <%= link_to user_show_path(comment_like.user.id) do %>
                <%= image_tag comment_like.user.get_profile_image(200,200), class: 'profile_image post-link' %>
              <% end %>
            </div>
            <div class='col-md-6 p-3 post-body'>
              <div class='mb-2 text-center'><strong><%= comment_like.user.nickname %></strong></div>
              <div class='mb-2'>「救世コメント内容」</div>
              <div class='p-3 bg-dark mb-4'><%= comment_like.comment.truncate(30) %></div>
              <div class='mb-2'>いいねした日：「<%= l comment_like.created_at %>」</div>
              <div class='mb-3'>高評価獲得数：「<strong><%= comment_like.comment_likes.count %></strong>」 <%= link_to "お悩み詳細",post_path(comment_like.post), class: 'btn btn-info btn-sm' %></div>
            </div>
          </div>
        <% end %>
      </div>
  <% end %>


</div>