<div class='container mt-5'>

  <!--ページタイトル-->
  <div class="mx-auto mb-5 text-center">
    <h4><strong>会員情報編集</strong></h4>
  </div>

  <!--ログイン情報入力フォーム（名前・パスワードのみ）-->
  <div class='row mx-auto'>
    <div class='col-md-8 mx-auto text-center'>
      <%= form_with model: @user, url: information_path(@user), method: :patch do |f| %>

        <div class='row form-field mb-5'>
          <div class='col'><label>ニックネーム</label></div>
          <div class='col'><%= f.text_field :nickname, autofocus: true, required: true %></div>
        </div>

        <div class='row form-field mb-3'>
          <div class='col'>
            <label>プロフィール画像（任意）</label><br>
            <%= f.file_field :profile_image %>
          </div>
        </div>

        <div class='row justify-content-center mb-5'>
          <!--画像プレビュー表示-->
          <img id='preview', class='preview_image'>
          <script>
            $('#user_profile_image').on('change', function (e) {
                let reader = new FileReader();
                reader.onload = function (e) {
                    $("#preview").attr('src', e.target.result);
                }
                reader.readAsDataURL(e.target.files[0]);
            });
          </script>
        </div>

        <div class="actions text-center mt-5">
          <%= f.submit "編集完了", class: 'btn btn-info' %>
        </div>
      <% end %>

      <div class=" text-center mt-5">
        <h6><%= link_to "詳細画面へ戻る", user_show_path(@user), class: 'link' %></h6>
      </div>


    </div>
  </div>
</div>