<div class="container mt-5">

  <!--ページタイトル-->
  <div class="row justify-content-center mb-5">
    <h4><strong><%= @user.nickname %>さんの投稿一覧</strong></h4>
  </div>

  <!--一覧表示-->
  <% if @posts.empty? %>
    <div class='row justify-content-center mb-5'>
      <h5>あなたの投稿はまだありません。</h5>
      <%= link_to "お悩みを投稿して救世神達を刺激してあげましょう", new_post_path, class: 'btn btn-info' %>
    </div>
  <% else %>
    <div class="mb-3">
      <% @posts.each do |post| %>
        <div class='row justify-content-center p-3 mt-3'>
          <div class='col-md-4 text-center bg-dark p-3'>
            <%= link_to user_show_path(current_user) do %>
              <%= image_tag post.user.get_profile_image(200,200), class: 'profile_image' %>
            <% end %>
          </div>
          <div class='col-md-6 p-3 post-body'>
            <div class='mb-2 text-center'><strong><%= post.user.nickname %>（<%= post.resolution_status %>）</strong></div>
            <div class='mb-2'>「お悩み内容」</div>
            <div class='p-3 bg-dark mb-4'><%= post.content.truncate(30) %></div>
            <div class='mb-2'>お悩み投稿日：「<%= l post.created_at %>」 <%= link_to "詳細",post_path(post), class: 'btn btn-info btn-sm' %></div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

</div>