<div class="container mt-5">

  <!--ページタイトル-->
  <div class="mx-auto mb-3 text-center">
    <h4><strong><%= @user.nickname %>さんの神がかりコメント一覧</strong></h4>
  </div>

  <!--一覧表示-->
  <div class="mb-3">
    <% @post_comments.each do |post_comment| %>
      <div class='row p-3 mt-3'>
        <div class='col-md-4 text-center bg-dark p-3'>
          <%= link_to user_show_path(post_comment.post.user.id) do %>
            <%= image_tag post_comment.post.user.get_profile_image(200,200) %>
          <% end %>
        </div>
        <div class='col-md-8 bg-light p-3'>
          <div class='row mb-2'>ニックネーム：<strong><%= post_comment.post.user.nickname %></strong></div>
          <div class='row mb-3'>この投稿は<strong><%= post_comment.post.resolution_status %></strong>です。</div>
          <div class='row'>お悩み内容</div>
          <div class='row p-3 bg-white mb-4'><%= post_comment.post.content %></div>
          <div class='row'>お悩み投稿日：「<%= post_comment.post.created_at.strftime('%Y/%m/%d') %>」</div>
          <div class='row'><%= link_to "詳細",post_path(post_comment.post), class: 'btn btn-info btn-sm' %></div>
        </div>
      </div>
      <div class='row'>
        <%= link_to user_show_path(current_user) do %>
          <%= image_tag post_comment.user.get_profile_image(100,100) %>
        <% end %>
        <div class='col'>この投稿に対するあなたコメント内容</div>
        <%= post_comment.comment %>
      </div>
    <% end %>
  </div>

</div>