<div class="container mt-5">

  <!--ページタイトル-->
  <div class="row justify-content-center mb-5">
    <h4><strong><%= @user.nickname %>さんの神がかりコメント一覧</strong></h4>
  </div>

  <!--一覧表示-->
  <% if @post_comments.empty? %>
    <div class='row justify-content-center'>
      <h5 class='mb-5'>あなたの救世コメントはまだありません。</h5>
    </div>
    <div class='row justify-content-center'>
      <%= link_to "救世神になる", posts_path, class: 'btn btn-info' %>
    </div>
  <% else %>
    <div class="mb-3">
      <% @post_comments.each do |post_comment| %>
        <div class='row justify-content-center p-3 mt-3'>
          <div class='col-md-4 text-center bg-dark p-3'>
            <%= link_to user_show_path(post_comment.post.user.id) do %>
              <%= image_tag post_comment.post.user.get_profile_image(200,200), class: 'profile_image  post_link' %>
            <% end %>
          </div>
          <div class='col-md-6 p-3 post-body'>
            <div class='mb-2 text-center'><strong><%= post_comment.post.user.nickname %>（<%= post_comment.post.resolution_status %>）</strong></div>
            <div class='mb-2'>「お悩み内容」</div>
            <div class='p-3 bg-dark mb-4'><%= post_comment.post.content %></div>
            <div class='mb-2'>お悩み投稿日：「<%= l post_comment.post.created_at %>」 <%= link_to "詳細",post_path(post_comment.post), class: 'btn btn-info btn-sm' %></div>
          </div>
        </div>

        <div class='row justify-content-first'>
          <div>
            <%= link_to user_show_path(current_user) do %>
              <%= image_tag post_comment.user.get_profile_image(100,100), class: 'profile_image' %>
            <% end %>
            <div>「この投稿に対するあなたコメント内容」</div>
          </div>
          <div class='content-area'>
            <%= post_comment.comment %>
          </div>

        </div>

      <% end %>
    </div>
  <% end %>

</div>