<div class="container mt-5">

  <!--ページタイトル-->
  <div class="mx-auto mb-3 text-center">
    <!--ユーザーのにより表示を条件分岐-->
    <h4><strong><%= @user == current_user ? "マイページ" : "#{@user.nickname}の詳細ページ" %></strong></h4>
  </div>

  <!--投稿詳細表示フォーム-->
  <div class="mb-3 text-center">
    </p><%= image_tag @user.get_profile_image(100,100) %>：<%= @user.nickname %></p>
  </div>

  <div class="mb-3 text-center">
    <p>救世レベル：「後ほど表示」</p>
  </div>

  <div class="mb-3 text-center">
    <span>お悩み投稿数：<%= @user.posts.count %>件</span>
    <span>救世コメント数：<%= @user.post_comments.count %>件</span>
    <span>お悩み投稿へのいいね獲得数：<%= @post_likes_count %>件</span>
    <span>救世コメントへのいいね獲得数：<%= @comment_likes_count %>件</span>
  </div>

  <div class='row'>
    <div class="col-md-6 mx-auto">
      <p>「後ほどchart.jsでグラフ表示」</p>
      <div>
        「グラフ」
      </div>
    </div>
  </div>

  <!--ログインユーザーの場合で条件分岐-->
  <% if @user == current_user %>
    <div class='row'>
      <div class='col-md-6 mx-auto mt-5 text-center'>
        <%= link_to "情報編集", information_path(@user.id), class: 'btn btn-info btn-sm mr-2' %>
        <%= link_to "退会画面へ",  check_path(@user.id), class: 'btn btn-danger btn-sm' %>
      </div>
    </div>
  <% end %>

</div>
